* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.commer-header {
    position: relative;
    padding: 5px 0;
    display: flex;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, #660103 0%, #9a0a06 50%, #660103 100%);
    @media (max-width: 475px) {
        padding: 5px 10px;
        height: 40px;
        justify-content: space-between;
    }
    .header-logo {
        width: 30%;
        display: flex;  
    align-items: center;
    justify-content: center;
        img {
            
            width: 60%;
            @media (max-width: 475px) {
                width: 30%;
                position: absolute;
            z-index: 10;
            left: 30px;
            }
        }
    }

    .header-nav {
        @media (max-width: 475px) {
            display: none;
        }
        width: 50%;
        height: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            li {
                font-weight: 400;
                height: 100%;
                &.index {
                    a {
                        font-size: 18px;
                    }
                }

                a {
                    display: block;
                    height: 100%;
                    line-height: 60px;
                    color: #fff;
                }
            }
        }
    }
    .input-img{
        width: 5%;
        height: 100%;
        display: flex;  
    align-items: center;
    justify-content: center;
        img{
            width: 50%;
        }
    }
    .header-input {
        display: none;
        z-index: 100;
        position: absolute;
        right: 0;
        top: 50%;
        width: 20%;
        height: 100%;
        padding: 25px 10px;
        @media (max-width: 475px) {
            display: none;
            
        }
        input {
            height: 20px;
            text-align: center;
            font-size: 10px;
            width: 60%;
            border-radius: 999em;
            outline: none;
            border: none;
        }
    }

    .header-button{
        display: none;
        @media (max-width: 475px) {
            display: block;
            width: 8%;
            height: 100%;
            text-align: center;
            border: none;
    outline: none;
    background: transparent;
    color: #000;
    position: absolute;
    z-index: 11;
    right: 10px;
    top: 0px;
        }
        span{
            position: absolute;
            display: block;
            width: 20px;
            height: 2px;
            color: #fff;
            z-index: 1;
            &:nth-child(1){
                width: 30px;
                top: 6px;
            }
            &:nth-child(2){
                width: 30px;
                top: 10px;
            }
            &:nth-child(3){
                width: 30px;
                top: 14px;
            }
        }
    }
    .yc{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
        background-color: rgba($color: #000 , $alpha: 0.5);
        ul{
            padding: 60px 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            li{
                margin: 0 auto;
                width: 84%;
                height: 40px;
                a{
                    display: block;
                    width: 100%;
                    color: #fff;
                }
            }
        }
    }
}

.swiper-container {
    @media (max-width: 475px) {
        height: 200px;
    }
    width: 100%;
    height: 700px;

    .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.commer-news {
    padding: 40px 0;
    width: 100%;
    background: linear-gradient(to bottom, #fff, #f2f2f2);
    @media (max-width: 475px) {
        background-color: #fff;
        background: linear-gradient(to bottom, #fff, #fff);
    }
    .container {
        margin: 0 auto;
        width: 80%;
        @media (max-width: 475px) {
            width: 90%;
            flex-wrap: wrap;
        }
        .news-title {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 30px;

            h2 {
                @media (max-width: 475px) {
                    text-align: left;
                    z-index: 5;
                }
                text-align: center;
                width: 100%;
                color: #c90000;
                position: absolute;
                z-index: 999;
            }

            text {
                @media (max-width: 475px) {
                    display: none;
                }
                position: absolute;
                top: 8px;
                left: 440px;
                width: 17%;
                font-weight: 600;
                z-index: 1;
                background-image: linear-gradient(#ccc, #ddd);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }

        .news-body {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            .body-left {
                width: 49%;
                @media (max-width: 475px) {
                    width: 100%;
                }
                .swiper-wrapper {
                    width: 100%;

                    .swiper-slide {
                        width: 100%;

                        img {
                            width: 100%;
                            height: 300px;
                            @media (max-width: 475px) {
                                height: 200px;
                            }
                        }
                    }
                }
            }

            .body-right {
                position: relative;
                background-color: #fff;
                width: 49%;
                border-radius: 10px;
                padding: 10px;
                @media (max-width: 475px) {
                    width: 100%;
                    height: 280px;
                }
                &:hover {

                    h1,
                    p {
                        color: #005bca;
                    }
                }

                h1 {
                    font-size: 17.2px;
                    font-weight: bold;
                }

                .line {
                    margin: 10px 0 20px;
                    position: relative;
                    text-align: right;
                    width: 100%;
                    display: block;
                    font-size: 12px;
                    color: #005bca;
                    font-weight: normal;

                    &::before {
                        @media (max-width: 475px) {
                            content: '———————————';
                        }
                        content: '—————————————————————';
                        color: #d8d8d8;
                        margin-right: 10px;
                        font-size: 18px;
                    }
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                }

                .swiper-pagination1 {
                    width: 30%;
                    bottom: 30px;
                    left: 400px;
                    position: absolute;
                    @media (max-width: 475px) {
                        left: 80%;
                        
                    }
                    .swiper-pagination-current {
                        font-size: 30px;
                        color: #c90000;
                        font-weight: 600;
                    }
                }
            }
            .body-bottom {
                margin: 20px 0;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .item {
                    @media (max-width: 475px) {
                        width: 100%;
                        margin: 8px 0;
                        border: 2px solid #e2e2e2;
                    }
                    padding: 35px 20px;
                    width: 32%;
                    background-color: #fff;
                    background-image: url(../../img/bgimg.png);
                    background-repeat: no-repeat;
                    background-position: 130% -120%;
                    border-radius: 10px;

                    &:hover {
                        background-color: #c90000;
                        color: #fff;

                        span {
                            color: #fff;
                        }
                    }

                    h1 {
                        font-size: 15.6px;
                        margin-bottom: 10px;
                        line-height: 38px;
                        font-weight: inherit;
                    }

                    p {
                        @media (max-width: 475px) {
                            display: none;
                        }
                        line-height: 24px;
                        margin-bottom: 0;
                        font-size: 11.6px;
                    }

                    span {
                        @media (max-width: 475px) {
                            text-align: left;
                            text-indent: 1.4em;
                            background-image: url(../../img/11.png);
                            background-repeat: no-repeat;
                            background-size: 16px;
                            background-position: 0 3px;
                        }
                        display: block;
                        text-align: right;
                        margin-top: 10px;
                        color: #c90000;
                    }
                }

            }
            
            a{
                display: block;
                width: 100%;
                color: #ccc;
                text-align: center;
                background-image: url(../../img/right.png);
                background-repeat: no-repeat;
                background-position: right 46% bottom 60%;
                background-size: 30px;
                @media (max-width: 475px) {
                    text-align: left;
                    text-indent: 8em;
                    background-position: right 40% bottom 60%;
                }
            }
        }
    }
}

.commer-dang{
    padding: 40px 0;
    width: 100%;
    background-color: #fff;
    .container{
        margin: 0 auto;
        width: 80%;
        @media (max-width: 475px) {
            width: 90%;
        }
        .dang-title {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 30px;
            h2 {
                @media (max-width: 475px) {
                    text-align: left;
                }
                text-align: center;
                width: 100%;
                color: #c90000;
                position: absolute;
                z-index: 999;
            }
            text {
                @media (max-width: 475px) {
                    display: none;
                }
                position: absolute;
                top: 8px;
                left: 440px;
                width: 17%;
                font-weight: 600;
                z-index: 1;
                background-image: linear-gradient(#ccc, #ddd);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }
        .dang-body{
            margin: 10px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            .media{
                display: block;
                @media (max-width: 475px) {
                   display: none;
                }
            }
            .item{
                @media (max-width: 475px) {
                    width: 100%;
                    margin: 10px 0;
                    border-radius: 8px;
                }
                position: relative;
                width: 32%;
                .img-box{
                    width: 100%;
                    img{
                        width: 100%;
                        @media (max-width: 475px) {
                    border-radius: 8px 8px 0 0;                
                        }
                    }
                }
                .text-box{
                    width: 100%;
                    background-image: url(../../img/bgimg.png);
                    background-repeat: no-repeat;
                    background-position: right -10% bottom 80%;
                    background-size: 100px;
                    border-radius: 10px;
                    .text-container{
                        display: flex;
                        justify-content: space-between;
                        margin: 20px auto;
                        .left{
                            @media (max-width: 475px) {
                                background-color: #c90000;
                            }
                            width: 18%;
                            color: #fff;
                            background-color: #e47f7f;
                            text-align: center;
                            padding: 10px 0;
                            // line-height: 20px;
                            font-size: 18px;
                            .year{
                                font-size: 12px;
                            }
                        }
                        .right{
                            width: 78%;
                            font-size: 15.6px;
                            color: #7a7a7a;
                            p{
                                overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
                            }
                        }
                    }

                }
                .color{
                    @media (max-width: 475px) {
                        display: block;
                    border-radius:  0 0 8px 8px;                
                    }
                    position: absolute;
                    bottom: 0;
                    display: none;
                    width: 100%;
                    height: 10px;
                    background-color: #c90000;
                }
                &:hover{
                    .color{
                        display: block;
                    }
                    .text-box{
                        .text-container{
                            .left{
                                background-color: #c90000;
                            }
                        }
                    }
                }
            }
        }
        a{
            display: block;
            width: 100%;
            color: #ccc;
            text-align: center;
            background-image: url(../../img/right.png);
            background-repeat: no-repeat;
            background-position: right 46% bottom 60%;
            background-size: 30px;
            @media (max-width: 475px) {
                text-align: left;
                text-indent: 8em;
                background-position: right 40% bottom 60%;
            }
        }
    }
}

.commer-jiao{
    padding: 30px 0;
    width: 100%;
    background-image: url(../../img/7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .container{
        margin: 0 auto;
        width: 80%;
        @media (max-width: 475px) {
            width: 90%;
        }
        .jiao-title {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 30px;

            h2 {
                @media (max-width: 475px) {
                    text-align: left;
                }
                text-align: center;
                width: 100%;
                color: #c90000;
                position: absolute;
                z-index: 999;
            }

            text {
                @media (max-width: 475px) {
                    display: none;
                }
                position: absolute;
                top: 8px;
                left: 440px;
                width: 17%;
                font-weight: 600;
                z-index: 1;
                background-image: linear-gradient(#ccc, #ddd);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }
        .jiao-body{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .left_ {
                @media (max-width: 475px) {
                    width: 100%;
                    margin: 10px 0;
                    border-radius: 8px;
                    height: 200px;
                }
                width: 70%;
                height: 460px;
                .item {
                  display: none;
                    width: 100%;
                  img {
                    width: 100%;
                    height: 460px;
                    display: block;
                    @media (max-width: 475px) {
                        height: 200px;
                        
                    }
                  }
                }
          
                .active {
                  display: block;
                }
              }
            .promotion-top-right{
                width: 30%;
                height: 460px;
                @media (max-width: 475px) {
                    width: 100%;
                    height: 200px; 
                }
                .one{
                    border-top: none;
                }
                li{
                    border-top: 1px solid black;
                    width: 100%;
                    height: 92px;
                    display: flex;
                    text-align: center;
                    @media (max-width: 475px) {
                        width: 100%;
                        height: 50px; 
                    }
                    &:hover{
                        color: #c90000;
                        a{
                            color: #c90000;
                        }
                    }
                    .left{
                        display: block;
                        width: 8%;
                        // text-indent: 1em;
                        font-size: 30px;
                        line-height: 92px;
                        @media (max-width: 475px) {
                           line-height: 50px;
                        }
                    }
                    .right{
                        display: block;
                        width: 40%;
                        font-size: 12px;
                        line-height: 92px;
                        text-indent: 4em;
                        @media (max-width: 475px) {
                            line-height: 50px;
                         }
                    }
                    a{
                        display: block;
                        width: 40%;
                        height: 92px;
                        line-height: 92px;
                        color: #000;
                        font-size: 12px;
                        @media (max-width: 475px) {
                            line-height: 50px;
                         }
                        img{
                            position: relative;
                            top: 10%;
                            left: -15%;
    
                            &.ct4{
                                position: relative;
                                left: -12%;
                            }
                        }
                        
                    }
                }
            }
        }
        .a{
            margin-top: 60px ;
            display: block;
            width: 100%;
            color: #ccc;
            text-align: center;
            background-image: url(../../img/right.png);
            background-repeat: no-repeat;
            background-position: right 46% bottom 60%;
            background-size: 30px;
            @media (max-width: 475px) {
                text-align: left;
                text-indent: 8em;
                background-position: right 40% bottom 60%;
            }
        }
    }
}

.commer-shehui{
    padding: 40px 0;
    width: 100%;
    background-color: #fff;
    .container{
        margin: 0 auto;
        width: 80%;
        @media (max-width:475px) {
            width: 90%;
        }
        .shehui-title {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 30px;

            h2 {
                @media (max-width: 475px) {
                    text-align: left;
                }
                text-align: center;
                width: 100%;
                color: #c90000;
                position: absolute;
                z-index: 999;
            }

            text {
                @media (max-width: 475px) {
                    display: none;
                }
                position: absolute;
                top: 8px;
                left: 460px;
                width: 17%;
                font-weight: 600;
                z-index: 1;
                background-image: linear-gradient(#ccc, #ddd);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }

        .shehui-body{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            .left{
                @media (max-width: 475px) {
                    width: 100%;
                }
                width: 49%;
                .img-box{
                    width: 100%;
                    height: 200px;
                    img{
                        width: 100%;
                        height: 200px;
                    }
                }
                .text{
                    border: 1px solid #c90000;
                    border-top: none;
                    h1{
                        font-size: 15.6px;
                        font-weight: 400;
                        padding: 10px;
                    }
                    p{
                        font-size: 12px;
                        padding: 10px;
                        color: #7a7a7a;
                    }
                    span{
                        display: block;
                        width: 100%;
                        text-align: left;
                        padding: 10px;
                        font-size: 12px;
                        text-indent: 2em;
                        background-image: url(../../img/11.png);
                        background-repeat: no-repeat;
                        background-position: 4% 48%;
                    }
                }
            }
            a{
                display: none;
                margin: 20px 0;
                width: 100%;
                color: #ccc;
                text-align: center;
                background-image: url(../../img/right.png);
                background-repeat: no-repeat;
                background-position: right 46% bottom 60%;
                background-size: 30px;
                @media (max-width: 475px) {
                    display: block;
                    text-align: left;
                    text-indent: 8em;
                    background-position: right 40% bottom 60%;
                }
            }
            .right{
                @media (max-width: 475px) {
                    width: 100%;
                }
                display: flex;
                flex-wrap: wrap;
                width: 49%;
                .item,.item1{
                    @media (max-width: 475px) {
                        width: 100%;
                        margin: 10px 0;
                        border-radius: 8px;
                        text-indent: 1em;
                        text-align: center;
                        background-position: 30% 50%;
                        line-height: 80px;
                    }
                    width: 100%;
                    border: 2px solid #e7e7e7;
                    margin: 2px 0;
                    line-height: 150px;
                    font-weight: 600;
                    font-size: 30px;
                    text-indent: 6em;
                    background-image: url(../../img/8.png);
                    background-repeat: no-repeat;
                    background-position: 26% 50%;
                    color: #c90000;
                }
                .item1{
                    @media (max-width:475px) {
                        text-indent: 2em;
                        background-position: 8% 50%;
                    }
                    background-image: url(../../img/9.png);
                }
            }
        }
    }
}

.commer-zhuti{
    padding: 40px 0;

    width: 100%;
    background-color: #f3e0e2;
    @media (max-width:475px) {
        background-color: #f6d6d6;
    }
    .container{
        margin: 0 auto;
        width: 80%;
        @media (max-width: 475px) {
            width: 90%;
        }
        .shehui-title {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 30px;

            h2 {
                text-align: center;
                width: 100%;
                color: #c90000;
                position: absolute;
                z-index: 999;
                @media (max-width: 475px) {
                    text-align: left;
                }
            }

            text {
                @media (max-width:475px) {
                    display: none;
                }
                position: absolute;
                top: 8px;
                left: 440px;
                width: 17%;
                font-weight: 600;
                z-index: 1;
                background-image: linear-gradient(#ccc, #ddd);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }
        .etc {

            width: 100%;
            height: 380px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                &:hover{
                    a{
                        .spe-bc{
                            .img-block{
                                display: none;
                            }
                            .img-none{
                                display: block;
                            }
                            .block{
                                display: none;
                            }
                            .none{
                                display: block;
                            }
                        }
                        div{
                            .block{
                                display: none;
                            }
                            .none{
                                display: block;
                            }
                        
                        }
                    }
                }
                position: relative;

                width: 22%;
                height: 320px;
                overflow: hidden;
                box-sizing: border-box;
                background-color: #fff;
                @media (max-width: 475px) {
                    width: 45%;
                    height: 200px;
                    margin: 10px 0 ;
                }
                &:nth-child(4) {
                    margin-right: 0;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 320px;
                    color: #000;
                    .spe-bc {
                        width: 100%;
                        height: 160px;
                        overflow: hidden;
                        position: relative;
                        @media (max-width: 475px) {
                            height: 100px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                        .img-none{
                            display: none;
                        }
                        .block,.none{
                            position: absolute;
                            top: 0;
                            text-align: center;
                            color: #fff;
                            background-color: rgba($color: #000000, $alpha: 0.5);
                            width: 100%;
                            height: 100%;
                            padding: 50px 0;
                            @media (max-width: 475px) {
                                padding: 30px 10px;
                                font-size: 12px;
                            }
                        }
                        .block{
                            display: block;
                        }
                        .none{
                            display: none;
                        }
                    }

                    div {
                       

                        p {
                            text-align: center;
                            margin-top: 20px;
                            // margin-left: 20px;
                            line-height: 2em;
                            font-size: 15px;
                            @media (max-width:475px) {
                                line-height: 1.2em;
                                font-size: 13px;
                            }
                        }
                        .none{
                            display: none;
                        }
                        .block{
                            display: block;
                        }
                    }
                }
            }
        }
        .a{
            margin-top: 70px ;
            display: block;
            width: 100%;
            color: #ccc;
            text-align: center;
            background-image: url(../../img/right.png);
            background-repeat: no-repeat;
            background-position: right 46% bottom 60%;
            background-size: 30px;
            @media (max-width: 475px) {
                text-align: left;
                text-indent: 8em;
                background-position: right 40% bottom 60%;
            }
        }
    }
}

.commer-fengcai{
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
    .container{
        width: 80%;
        margin: 30px auto;
        .shehui-title {
            position: relative;
            width: 100%;
            height: 30px;
            margin-bottom: 30px;

            h2 {
                text-align: center;
                width: 100%;
                color: #c90000;
                position: absolute;
                z-index: 999;
                @media (max-width: 475px) {
                    text-align: left;
                }
            }

            text {
                @media (max-width:475px) {
                    display: none;
                }
                position: absolute;
                top: 8px;
                left: 440px;
                width: 17%;
                font-weight: 600;
                z-index: 1;
                background-image: linear-gradient(#ccc, #ddd);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                -webkit-text-fill-color: transparent;
            }
        }
        ul{
            @media (max-width: 475px) {
                display: none;
                
            }
            width: 100%;
            display: flex;
            justify-content: space-between;
            li{
                color: #7a7a7a;
                &:nth-child(1){
                    color: #000;
                    font-size: 20px;
                }
            }
        }
    }
    .a{
        display: none;
        width: 100%;
        color: #ccc;
        text-align: center;
        background-image: url(../../img/right.png);
        background-repeat: no-repeat;
        background-position: right 46% bottom 60%;
        background-size: 30px;
        @media (max-width: 475px) {
            display: block;
            text-align: left;
            text-indent: 8em;
            background-position: right 40% bottom 60%;
        }
    }
    .swiper{
        @media (max-width: 475px) {
            display: none;
        }
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            margin-right: 3px;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            img{
                width: 100%;
            }
        }
    }
    .media{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        display: none;
        @media (max-width: 475px) {
            display: flex;
        }
        .media-img{
            width: 49%;
            img{
                width: 100%;
            }
        }
    }
}

.commer-footer{
    width: 100%;
    background-color: #c90000;
    .container{
        width: 80%;
        margin: 0 auto;
        .footer-top{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            height: 110px;
            padding: 20px 0;
            @media (max-width: 475px) {
                height: 400px;
                
            }
            .footer-logo{
                @media (max-width: 475px) {
                    width: 100%;
                    height: 100px;
                }
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                }
            }
            .footer-text{
                @media (max-width: 475px) {
                    width: 100%;
                    height: 100px;
                    border: none;
                    line-height: 30px;
                }
                border-left: 1px solid #fff;
                width: 50%;
                height: 70px;
                line-height: 70px;
                color: #fff;
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                span{
                    @media (max-width: 475px) {
                        width: 100%;
                        text-align: center;
                    }
                    display: block;
                    width: 50%;
                    text-align: center;
                }
            }
            .footer-ewm{
                @media (max-width: 475px) {
                    width: 100%;
                    height: 100px;
                    text-align: center;
                }
                width: 20%;
                height: 100%;
                img{
                    width: 30%;
                    height: 100%;
                }
                .none{
                    display: none;
                    @media (max-width: 475px) {
                        display: block;
                        width: 100%;
                        color: #fff;
                    }
                }
            }
        }
        
    }
    .footer-bottom{
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 30px;
        background-color: rgba($color: #000000, $alpha: 0.4);
    }
}