.sex,.year,.map,.marriage,.leixing,.my,.xueli{
    width: 100%;
    margin: 10px 0;
    display: flex;
    .left{
        width:8%;
    }
}

.button,.agreement,.footer{
    margin: 10px 8%;
}

.xxk{
    width: 30%;
    display: flex;
    flex-wrap: wrap;

    .title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        div{
        border: 1px solid #000;

            width: 30%;
        }
    }
    .text{
        width: 100%;
        border: 1px solid #000;
        .html{
            display: block;
            width: 100%;
        }
        .vue{
            display: none;
            width: 100%;
        }
        .react{
            display: none;
            width: 100%;
        }
    }
}